ol {
    margin: 0;
    padding: 0;
}
table td,
table th {
    padding: 0;
}
/* body {
  background: #FFF;
} */
.logo2 {
  height: 170px;
  width: 160px;
  border-radius: 5%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  object-fit: cover;
}
.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal;
}
.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c3 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
}
.c4 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt;
}
.c5 {
    color: #000000;
    text-decoration: inherit;
}
.c5:hover {
    color: #92B4EC;
}
.c2 {
    height: 11pt;
}
.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
}
/* p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial";
} */
/* h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
} */

/* Footer */

.container-fluid {
  padding: 50px;
  text-align: center;
  background: linear-gradient(to bottom right, #FFF7BC, #F9F9F9);
}

.social-icon:hover {
  color: #92B4EC;
}

.footer-link {
  color: #40514E;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Josefin Slab', serif;
}

.footer-link:hover, .footer-link:focus {
  color: #92B4EC;
}
